<!DOCTYPE html>
<html>
  <head>
    <title>DockerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>

<style>
    /* Style the flash notice div */
    .notice {
        background-color: #4CAF50; /* Green background color */
        color: white; /* White text color */
        padding: 15px; /* Padding around the text */
        text-align: center; /* Center-align the text */
        margin-top: 20px; /* Add space at the top */
    }
</style>
