<div class="row m-3">
  <% @souvenirs.each do |s| %>
    <div class="col-md-4">
      <div class="card mb-3">
        <%= image_tag s.primaryImageSmall, class: "card-img-top",width: "150", height: "auto" %>
        <div class="card-body">
          <h5 class="card-title"><%=s.title %>-<strong><%=s.artistDisplayName %></strong></h5>
          <p class="card-text"><strong>Culture:</strong><%=s.culture %> <strong>&emsp; Date:</strong> <%=s.objectDate %> </p>
          <i class="fa-solid fa-heart-circle-plus"></i>
          <i class="fa-solid fa-heart-circle-minus"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
