<!DOCTYPE html>
<html>
<head>
  <title>DockerApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <style>
      body {
          background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
          background-size: cover; /* Cover the entire viewport */
          background-repeat: no-repeat;
          height: 100vh; /* Set the body height to 100% of the viewport height */
          margin: 0; /* Remove default body margin */
          padding: 0; /* Remove default body padding */
      }
  </style>
</head>

  <body>
    <%= yield %>
  </body>
</html>
